openapi: 3.2.0
info:
  title: Delx Agent Operations Protocol Agents API
  version: 3.3.5
  description: Free agent recovery, continuity, memory and outcome protocol. No API key or payment required for the Protocol path. Paid machine services are a separate Delx Commerce product; see x-delx.related_services.
  contact:
    name: Delx Protocol Support
    url: https://delx.ai
    email: support@delx.ai
servers:
- url: https://api.delx.ai
  description: Delx Protocol
tags:
- name: Agents
paths:
  /api/v1/agents/register:
    post:
      summary: Register or refresh an agent identity and token for REST/A2A/reward flows
      responses:
        '200':
          description: Registration payload with agent_id, session_id, and token when include_token=true
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                agent_id: agent-alpha
                session_id: 123e4567-e89b-12d3-a456-426614174000
                agent_token: delx_agent_token_returned_once
      security: []
      operationId: post_api_v1_agents_register
      tags:
      - Agents
  /api/v1/agents/{agent_id}/public-profile:
    get:
      summary: Public agent profile backed by DELX reputation
      responses:
        '200':
          description: Agent public profile
      security: []
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
      operationId: get_api_v1_agents_agent_id_public_profile
      tags:
      - Agents
components:
  securitySchemes:
    xDelxAgentToken:
      type: apiKey
      in: header
      name: x-delx-agent-token
      description: Agent credential returned by POST /api/v1/agents/register.
x-delx:
  product: delx_protocol
  primary_mcp: https://api.delx.ai/v1/mcp/protocol?src=openapi
  a2a: https://api.delx.ai/v1/a2a
  related_services:
    commerce: https://commerce.delx.ai/openapi.json
    paid_compatibility: https://api.delx.ai/openapi.x402.json
    rewards: https://api.delx.ai/.well-known/delx-rewards
